.DS_Store
../../../.3T/
	../../../.CFUserTextEncoding
	../../../.DS_Store
	../../../.cache/
	../../../.cups/
	../../../.gitconfig
	../../../.npm/
	../../../.ssh/
	../../../.swiftpm/
	../../../.swt/
	../../../.viminfo
	../../../.vscode/
	../../../.zprofile
	../../../.zsh_history
	../../../.zsh_sessions/
	../../../Applications/
	../../.DS_Store
	../../.localized
	../../Assignment _week1/
	../../Bootcamp2021/
	../../Danforth/
	../../FSD_Irene_Portfolio/
	../../Lesson1/
	../
	../../Robot-Gladiators-/
	../../Week1_challenge/
	../../test/
	../../../Documents/.DS_Store
	../../../Documents/.localized
	../../../Documents/BCamp_week2/.DS_Store
	../../../Documents/Commands/
	../../../Documents/Invoice_2021.doc
	"../../../Documents/Irene\"s Copy_CodingBootcamp/"
	../../../Documents/Programs/
	../../../Documents/Timesheet_2021.doc
	../../../Downloads/
	../../../Library/
	../../../Movies/
	../../../Music/
	../../../Pictures/
	../../../Public/